<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/bootstrap') %>
  <title>Notes</title>
</head>
  <body >
  <%- include('./partials/nav') %>
  <%- include('./partials/tips') %>
    <div class="mt-2 text-center d-flex justify-content-center">
      <!-- New Note -->
      <% if (user && themes && selectedTheme) { %>
        <div class="containter d-flex flex-column text-capitalize">
          <% if (selectedTheme) { %>
            <i class="bi bi-book-fill text-2 fs-1"></i>
              <p class="text-2 fw-bold mb-2 fs-4">
                
                <%= selectedTheme %> :
            </p>
          <% }%>
          <div class="d-flex justify-content-center gap-2 mb-2">
            <button class="nav-link " data-bs-toggle="modal" data-bs-target="#noteModal">
              <i class="bi bi-plus-lg btn btn-sm bg-2 text-white"> Add Note</i>
            </button>
            <div class="text-center d-inline ">
              <button id="toggle" class="btn btn-sm btn-secondary"><i class="bi bi-gear-fill"></i></button>
            </div>
            <div class="cible hidden">
              <form  id="deleteTheme" action="/deletetheme?_method=DELETE"
                method="POST">
                <button type="button" class="btn btn-danger btn-sm" onclick="confirmDeleteTheme()">
                    Delete Theme
                </button>
              </form>
            </div>
          </div>
          <% if(categories && categories.length > 0){ %>
            <form id="categoryFilterForm" action="/notes" method="POST">
              <select 
                id="categoryFilter"
                name="categoryFilter" 
                class="form-select text-2 text-capitalize mt-2"
              >
                <option hidden>By Category</option>
                <option value="">All</option>
                <% categories.forEach(category=> { %>
                  <option value="<%= category.categoryName %>">
                    <%= category.categoryName %>
                  </option>
                  <% }) %>
              </select>
            </form>
            <% } %>
        </div>
    </div>

    <!-- List Note -->
    <div class="mt-3 ">
      <% notes.reverse().forEach((note, index)=> { %>
        <div class="mb-3 mx-2 ">
          <div class="row g-2">
            <div class="col-4">
              <div class="card bg-7 rounded-0">
                <h5 class="card-title bg-2 text-white p-3 mb-0">Face 1</h5>
                <p class="card-text p-3 mb-0 capitalize-once">
                  <%= note.front %>
                </p>
              </div>
            </div>
            <div class="col-4">
              <div class="card bg-6 rounded-0">
                <h5 class="card-title bg-3 text-white p-3 mb-0">Face 2</h5>
                <p class="card-text p-3 mb-0 capitalize-once">
                  <%= note.back %>
                </p>
              </div>
            </div>
            <% if (note.example) { %>
            <div class="col-4">
              <div class="card bg-8 rounded-0">
                <h5 class="card-title bg-secondary text-white p-3 mb-0 text-capitalize">
                  <%= note.categoryName %> 
                </h5>
                <p class="card-text p-3 mb-0 capitalize-once">
                  Example : <%= note.example %>
                </p>
              </div>
            </div>
            <% } else { %>
            <div class="col-4">
              <div class="card bg-7 rounded-0">
                <h5 class="card-title bg-1 text-white p-3 mb-0 text-capitalize">
                  Category
                </h5>
                <p class="card-text p-3 mb-0 capitalize-once">
                  <%= note.categoryName %> 
                </p>
              </div>
            </div>
            <%  } %>
          </div>
          <div class="cible hidden">
            <div class="d-flex justify-content-center mt-3 gap-2">
              <button type="submit" id="showEdit<%= index %>" class="btn bg-2 btn-sm" data-bs-toggle="modal"
                data-bs-target="#editModal<%= index %>">
                <i class="bi bi-pencil-fill"></i> Edit
              </button>
              <form class="ml-2" id="deleteNote<%= note._id %>" action="/note/delete/<%= note._id %>?_method=DELETE"
                method="POST">
                <button type="button" class="btn btn-danger btn-sm" onclick="confirmDeleteNote('<%= note._id %>')">
                  <i class="bi bi-trash-fill"></i> Delete
                </button>
              </form>
            </div>
          </div>
        </div>
        <% }) %>
    </div>

      <!-- Modal New Note-->
      <div class="modal fade" id="noteModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Note</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/addnote" method="POST">
                <div class="mb-3">
                  <label for="front" class="form-label">Front</label>
                  <input type="text" class="form-control" name="front" placeholder="write a word to learn...">
                </div>
                <div class="mb-3">
                  <label for="back" class="form-label">Back</label>
                  <input type="text" class="form-control" name="back" placeholder="write its answer...">
                </div>
                <div class="mb-3">
                  <label for="example" class="form-label">example</label>
                  <input type="text" class="form-control" name="example" placeholder="write an example...">
                </div>
                <% if (categories) { %>
                  <select name="selectedCategory" class="form-select text-capitalize bg-success text-white mt-2"
                    onchange="hideContainer(this)">
                    <option value="uncategorized" hidden>uncategorized</option>
                    <option value="newCat">new category</option>
                    <% categories.forEach(category=> { %>
                      <option value="<%= category.categoryName %>">
                        <%= category.categoryName %>
                      </option>
                      <% }) %>
                  </select>
                  <% } %>
                    <div id="categoryContainer" style="display: none;">
                      <label for="newCategory" class="form-label ms-1 mt-1 fw-bold text-success">
                        Create a new category
                      </label>
                      <input type="text" class="form-control" name="newCategory" placeholder="write the category name...">
                    </div>
                    <input type="hidden" name="themeName" value="<%= selectedTheme %>">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <button type="submit" class="btn bg-2 text-white mt-2">Add Note</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Edit Note-->
      <% notes.forEach((note, index)=> { %>
        <div class="modal fade" id="editModal<%= index %>" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/editnote/<%= note._id %>?_method=PUT" method="POST">
                  <div class="mb-3">
                    <label for="front" class="form-label">Front</label>
                    <input type="text" class="form-control" name="front" value="<%= note.front %>">
                  </div>
                  <div class="mb-3">
                    <label for="back" class="form-label">Back</label>
                    <input type="text" class="form-control" name="back" value="<%= note.back %>">
                  </div>
                  <div class="mb-3">
                    <label for="example" class="form-label">Example</label>
                    <input type="text" class="form-control" name="example" value="<%= note.example %>">
                  </div>
                  <select name="selectedCategory" class="form-select text-capitalize bg-secondary text-white mt-2"
                    onchange="hideContainer2(this)">
                    <option hidden value="<%= note.categoryName %>">
                      <%= note.categoryName %>
                    </option>
                    <option value="newCat">New Category</option>
                    <% categories.forEach(category=> { %>
                      <option value="<%= category.categoryName %>">
                        <%= category.categoryName %>
                      </option>
                      <% }) %>
                  </select>
                  <div id="categoryContainer2" style="display: none;">
                    <label for="newCategory" class="form-label ms-1 mt-1 fw-bold text-success">
                      Create a new category
                    </label>
                    <input type="text" class="form-control" name="newCategory"
                      placeholder="Write the category name...">
                  </div>
                  <input type="hidden" name="themeName" value="<%= selectedTheme %>">
                  <input type="hidden" name="userId" value="<%= user._id %>">
                  <button type="submit" class="btn bg-2 mt-2">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      <% } %>
    <script>
    // syntaxe toggle 
      document.querySelector("#toggle").addEventListener("click", () => {
        var settings = document.querySelectorAll(".cible");
        settings.forEach((setting) => {
          setting.classList.toggle("hidden");
        });
      });
    </script>
    <script src="/script.js"></script>
  </body>
</html>