<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/bootstrap') %>
    <title>Quiz</title>
</head>

<body>
  <%- include('./partials/nav') %>
  <%- include('./partials/tips') %>
    <div class="container text-center">
      <% if (!user) { %>
        <h1>Please log in to your account !</h1>
        <a class="" href="/login">
          <i class="bi bi-box-arrow-in-right btn btn-success"> Login </i>
        </a>
        <% } else { %>
          <h1>Start your quiz !</h1>
          <% if (categories) { %>
            <div class="text-center d-flex justify-content-center">
              <form action="/selectCategory" method="POST" class="text-center">
                <select name="categoryName" class="form-select text-2 text-capitalize mt-2">
                  <option value="all" hidden>Category</option>
                  <option value="all">All</option>
                  <% categories.forEach(category=> { %>
                    <option value="<%= category %>">
                      <%= category %>
                    </option>
                    <% }) %>
                </select>
                <button type="submit" class="btn bg-3 m-2">Start!</button>
              </form>
            </div>
            <% } else { %>
              <p>No categories available for the selected theme.</p>
              <% } %>
                <% } %>
    </div>
    <script src="/script.js"></script>
</body>

</html>