<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/links') %>
      <title>Quiz Game</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
      <div class="container text-center">
        <% if (!user) { %>
          <h1>Please log in to your account!</h1>
          <a class="btn btn-success" href="/login">
            <i class="bi bi-box-arrow-in-right"></i> Login
          </a>
        <% } else { %>
          <h1 class="text-center ft-victoria text-darkgreyless py-2">Quiz Game!</h1>
          <% if (selectedCategory) { %>
            <form action="/addquiz" method="post">
              <% randomNotes.forEach((note, index) => { %>
                <div class="row justify-content-center mt-3">
                  <div class="showleft p-0 px-2">
                    <div class="card bg-2">
                      <div class="card-body p-0 px-3">
                        <p 
                          for="answer<%= index %>" 
                          class="text-start fst-italic fw-bold text-6 mb-1 p-0 m-0">
                          Answer
                        </p>
                        <input 
                          name="answer<%= index %>"
                          type="text" 
                          class="form-control mb-2" 
                          placeholder="write the answer..."
                          onmouseenter="handleMouseEnter(event)"
                        >
                        <input 
                          type="hidden"
                          name="front<%= index %>" 
                          value="<%= note.front %>"
                        />
                        <input 
                          type="hidden"
                          name="back<%= index %>" 
                          value="<%= note.back %>"
                        />
                        <div class="d-flex justify-content-center">
                          <p class="card-text text-5 fst-italic fw-bold col-2">Note : </p>
                          <p class="text-white capitalize-once"> <%= note.back %></p> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
              <input 
                type="hidden"
                name="categoryName" 
                value="<%= selectedCategory %>"
              />
              <button 
                type="submit" 
                class="btn bg-3 m-2 mb-2 showbottom"
                onmouseenter="handleMouseEnter(event)"
              > 
                <i class="bi bi-box-arrow-down"></i>
                Save Answers
              </button>
            </form>
          <% } %>
        <% } %>
      </div>
      <%- include('./partials/footer') %>
      <script src="/script.js"></script>
  </body>
</html>

