<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
    <title>Quiz Game</title>
  </head>
<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
      <title>Quiz Game</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
      <div class="container text-center">
        <% if (!user) { %>
          <h1>Please log in to your account!</h1>
          <a class="btn btn-success" href="/login">
            <i class="bi bi-box-arrow-in-right"></i> Login
          </a>
        <% } else { %>
          <h1>Quiz Game!</h1>
          <% if (selectedCategory) { %>
            <form action="/addquiz" method="post">
              <% randomNotes.forEach((note, index) => { %>
                <div class="row justify-content-center mt-3">
                  <div class="">
                    <div class="card bg-2">
                      <div class="card-body">
                        <input 
                          name="answer<%= index %>"
                          type="text" 
                          class="form-control mb-3" 
                          placeholder="Your answer"
                        >
                        <input 
                          type="hidden"
                          name="front<%= index %>" 
                          value="<%= note.front %>"
                        />
                        <input 
                          type="hidden"
                          name="back<%= index %>" 
                          value="<%= note.back %>"
                        />
                        <p class="card-text capitalize-once">
                          <%= note.back %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
              <input 
                type="hidden"
                name="categoryName" 
                value="<%= selectedCategory %>"
              />
              <button type="submit" class="btn bg-3 m-2 mb-3"> 
                <i class="bi bi-box-arrow-down"></i>
                Save Answers
              </button>
            </form>
          <% } %>
        <% } %>
      </div>
      <script src="/script.js"></script>
  </body>
</html>

