<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/links') %>
  <title>My Statistics</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <%- include('./partials/tips') %>
  <%- include('./partials/action') %>
  <div class="mx-2 text-center d-flex flex-column align-items-center">
    <% if (!user) { %>
      <h1>Please log in to your account !</h1>
      <a class="" href="/login">
        <i class="bi bi-box-arrow-in-right btn btn-success">Login</i>
      </a>
    <% } else { %>
      <h1 class="text-center ft-victoria text-darkgreyless pt-2"> My stats ! </h1>
      <% if (tenQuizzes && tenQuizzes.length > 0  ) { %>
        <div 
          class="card ft-roboto text-secondary fst-italic m-0 bg-7 p-2 mb-3 mt-3"
          onmouseenter="handleMouseEnter(event)"
        >
          <p class="fs-4 fw-bold m-0 p-0 showleft">
            10 last quizzes
          </p>
            <p class="fs-4 fw-light m-0 p-0 showleft">
              Average : 
            <span class="fw-light text-2 ">
              <%= average %> / 6
            </span>
          </p>
        </div>
        <div class="card mb-3 rounded-0">
          <div 
          class="card-header d-flex justify-content-center align-items-center bg-2 rounded-0 m-0 p-0">
            <p class="text-white fs-4 m-0 p-0 showleft" onmouseenter="handleMouseEnter(event)">Quiz</p>
            <div class="showright">
              <% if (skip > 0) { %> 
                <a 
                  href="/stats?prev=true&skip=<%= skip %>" 
                  class="text-decoration-none text-white"
                >
                  <i class="bi bi-chevron-left fs-4"></i>
                </a>
              <% } else { %>
                <i class="bi bi-chevron-left text-2-disable fs-4"></i>
              <% } %>
              <% if (skip < totalQuizzes - 1) { %>
                <a 
                  href="/stats?next=true&skip=<%= skip %>" 
                  class="text-decoration-none text-white"
                >
                  <i class="bi bi-chevron-right fs-4"></i>
                </a>
              <% } else { %>
                <i class="bi bi-chevron-right text-2-disable fs-4"></i>
              <% } %>
            </div>
          </div>
          <div class="card pt-0 px-4 rounded-0">
            <div class="row text-capitalize">
              <p 
                class="fs-2 fst-italic fw-bold my-2 showright <%= color %>"
                onmouseenter="handleMouseEnter(event)"
              >
                <%= prize %>
              </p>
              <% if (showQuiz && showQuiz.data) { %>
                <% showQuiz.data.forEach(data => { %>
                  <div class="col-md-4 mb-3">
                    <div class="card rounded-0 showtopspeed" onmouseenter="handleMouseEnter(event)">
                      <div 
                        class="card-header text-white rounded-0 text-capitalize <%= data[2] ? 'bg-err' : 'bg-2' %>"
                      >
                        <%= data[0] %>
                      </div>
                      <div class="card-body rounded-0">
                        <p class="card-text text-capitalize">
                          <%= data[1] %>
                        </p>
                        <% if (data[2]) { %>
                          <p class="card-text text-danger text-capitalize">
                            <%= data[2] %>
                          </p>
                        <% } %>
                      </div>
                    </div>
                  </div>
                <% }) %>
              <% } %>
            </div>
          </div>
          <div class="card-footer bg-7 rounded-0">
            <% if (showQuiz) { %>
              <div class="d-flex flex-column flex-sm-row">
                <div class="col fw-bold showleft" onmouseenter="handleMouseEnter(event)">
                  Scores : 
                  <span class="text-2 text-capitalize">
                    <%= showQuiz.score %> / 6  
                  </span>
                </div>
                <div class="col fw-bold showleft" onmouseenter="handleMouseEnter(event)">
                  lesson : 
                  <span class="text-2 text-capitalize">
                    <%= showQuiz.lessonName %>
                  </span>
                </div>
                <div class="col fw-bold showleft" onmouseenter="handleMouseEnter(event)">
                  Category : 
                  <span class="text-2 text-capitalize text-low">
                    <%= showQuiz.categoryName %>
                  </span>
                </div>
              </div>
            <% } %>
          </div>
        </div>
        
      <% } else { %>
        <div class="alert alert-warning" role="alert">
          No quiz data found.
        </div>
      <% } %>
      <% if (tenQuizzes && tenQuizzes.length > 0) { %>
        <table class="table table-bordered bg-9">
          <thead  class="">
            <tr  class=""></tr>>
              <th scope="col">#</th>
              <th scope="col">Lesson</th>
              <th scope="col">Category</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody >
            <% tenQuizzes.forEach((quiz, index) => { %>
              <tr>
                <th scope="row" class="showtopspeed"><%= index + 1 %></th>
                <td class="showtopspeed"><%= quiz.lessonName %></td>
                <td class="showtopspeed"><%= quiz.categoryName %></td>
                <td class="showtopspeed"><%= quiz.score %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } %>
    <% } %>
  </div>
  <%- include('./partials/footer') %>
  <script src="/script.js"></script>
</body>
</html>
